spring:
  application:
    name: messaging-service
  datasource:
    url: jdbc:mysql://flightrsvdb.cxnuarwowrnu.us-east-1.rds.amazonaws.com:3306/messaging-db
  jpa:
    hibernate:
      ddl-auto: update
  mvc:
    view:
      prefix: /WEB-INF/views/
      suffix: .jsp
#  thymeleaf:
#    enabled: true
#    prefix: classpath:/templates/
#    suffix: .html
mail:
  host: smtp.gmail.com
  port: 587
  protocol: smtp
  tls: true
  properties.mail.smtp:
    auth: true
    starttls.enable: true
    ssl.trust: smtp.gmail.com
  debug: true

server:
  port: 8090
  servlet:
    context-path: "/api/v1"

msgs:
  registrations:
    subject: "Hotel Reservation Confirmation"
    welcome: "Hello %s, we’re excited to have you. Wherever you’re going, requesting a ride is just a tap away, Thank you for registering with Taxi24."